#__id__.trim--s .blurb {
  font-size: 0.133in;
}

#__id__.trim--s .title-wrap h1 {
  line-height: 1.35em;
  margin-top: -10%;
}

#__id__.trim--s .title-wrap h2 {
  font-size: 0.32in;
  margin-top: -45%;
}

.prince #__id__.trim--s .title-wrap h1 {
  line-height: 1.35em;
  margin-top: -20%;
}

.prince #__id__.trim--s .title-wrap h2 {
  font-size: 0.32in;
  margin-top: -35%;
}
